# Ignore pycache
__pycache__/

# Ignore Tests
.pytest_cache/

# Ignore archive
/archive

# Ignore all files in the reports folder
reports/*

# Keep specified reports

# Example CartPole report
!reports/CartPole/
!reports/CartPole/cartpole_nn_ppo/
!reports/CartPole/cartpole_nn_ppo/001/
!reports/CartPole/cartpole_nn_ppo/001/**

# Example QuadPole2D report
!reports/QuadPole2D/
!reports/QuadPole2D/quadpole2d_nn_ppo/
!reports/QuadPole2D/quadpole2d_nn_ppo/001/
!reports/QuadPole2D/quadpole2d_nn_ppo/001/**