# Ignore pycache
__pycache__/

# Ignore Tests
.pytest_cache/

# Ignore archive
/archive

# Ignore all files in the reports folder
reports/*

# Keep specified reports
!reports/CartPole/cartpole_nn_ppo/001/